name: Java CI/CD with Gradle

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew bootJar

      - name: Transfer JAR to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          source: "build/libs/umc-0.0.1-SNAPSHOT.jar"
          target: "/root/"
          strip_components: 2

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            sudo pkill -9 -f java || true
            ls -l /root/umc-0.0.1-SNAPSHOT.jar
            nohup java -Xmx512M -Duser.timezone=Asia/Seoul -jar /root/umc-0.0.1-SNAPSHOT.jar \
            --spring.datasource.username=${{ secrets.USERNAME }} \
            --spring.datasource.password=${{ secrets.PASSWORD }} \
            --google.client-id=85034270884-er0pqm6160ink4ts6m84e5rlq9akrb0l.apps.googleusercontent.com \
            --spring.security.oauth2.client.registration.google.client-id=85034270884-er0pqm6160ink4ts6m84e5rlq9akrb0l.apps.googleusercontent.com \
            --spring.security.oauth2.client.registration.google.client-secret=${{ secrets.GOOGLE_CLIENT_SECRET }} > /root/nohup.out 2>&1 &
            sleep 10
            ps -ef | grep java